* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
  padding-left:10px;
  padding-right:10px;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#ongletRecherche {
  max-width: 800px;
  text-align:center;
  margin: 20px auto;
  font-size: 1.2em;
}

#ongletRecherche input{
  width:60%;
}

#recherches p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 0.9em;
  font-style: italic;
  text-align: justify;
}

#recherches p:last-child {
  font-style: normal;
  font-size: 0.8em;
}

#content p {
  text-align:center;
  margin-top:100px; 
  font-size: 0.8em;
}

table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  margin: 50px auto;
  border-radius: .25rem;
  table-layout: fixed;
  line-height: 25px;
  font-size: 1em;
}

th {
  font-weight: 600;
}

th a {
  color:white;
  text-decoration: none;
}

td {
  text-align: justify;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

th:nth-child(1), td:nth-child(1), th:nth-child(3), td:nth-child(3) {
  text-align:center!important;
  vertical-align: top;
  padding-left:10px;
  padding-right:10px;
}

th:nth-child(4),th:nth-child(5),th:nth-child(6),th:nth-child(7),th:nth-child(8),th:nth-child(9) {
  text-align:center!important;
  padding-left:2px;
  padding-right:2px;
  width:30px!important;
}

td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7),td:nth-child(8),td:nth-child(9) {
  vertical-align:top;
  text-align:center!important;
  font-size:70%;
}


th:nth-child(1), td:nth-child(1){
  width:150px!important;
}
th:nth-child(3), td:nth-child(3){
  width:30px!important;
}

th:nth-child(2), td:nth-child(2){
  width:700px;
  padding-left:30px;
  padding-right:30px;
}

br {
  display: block;
  margin: 5px 0;
  content: "";
}

thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}


b {
  font-weight: 600;
}

strong {
  font-weight: 600;
  font-size:0.93em;
}


thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}


.match1{
  background: #FFF6B3;
}
.match2{
  background: #c3e7f5;
}
.match3{
  background: #befadc;
}
.match4, .match5, .match6{
  background: #d2c3fa;
}


dl {
    display: flex;
    flex-flow: column wrap;
    max-height: 4.7em;
    border: 1px solid #333;
    max-width:700px;
    text-align:center;
    margin:auto;
    font-size:0.9em;
  }
  dl:nth-of-type(1) {
    margin-top:30px;
  }
  dt {
    padding: 2px 4px;
    background: #333;
    color: #fff;
  }
  dd {
    margin: 0;
    padding: 4px;
    min-height: 2em;
  }

  
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    margin-top:30px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display:block;
    text-align:center!important;
    padding:20px;
    margin:auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  
  @media only screen and (max-width:1000px) {
    #ongletRecherche {
      font-size:14px;
      margin: 10px auto;
    }
    #recherches p {
      font-size:9pt;
    }
    #recherches p:last-child {
      font-size:8pt;
    }
    dl {
      font-size:9pt;
    }
    #content table {
      font-size:16px;
    }
    #content p{
      font-size:8pt;
    }
  }