* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#recherches label {
  margin-left: 40%;
}

#recherches p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 0.9em;
  font-style: italic;
}

#recherches p:last-child {
  text-align: center;
  font-style: normal;
  font-size: 0.8em;
}

#content p {
  text-align:center;
  margin-top:150px; 
}

table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  margin: 50px auto;
  border-radius: .25rem;
  table-layout: fixed;
  width: 80%;
  max-width: 850px;
  line-height: 25px;
}

th {
  font-weight: 600;
  width:100%;
}


td {
  text-align: justify;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  padding-left:30px;
  padding-right:30px;
}

br {
  display: block;
  margin: 5px 0;
  content: "";
}

thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}


b {
  font-weight: 600;
}

strong {
  font-weight: 600;
  font-size:0.93em;
}


thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

mark{
  background: #FFF6B3;
}